<ion-header>
  <ion-toolbar>
    <ion-title>
      Zomato Collection
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab-button size="small">
  <ion-icon name="arrow-round-back" (click)="goBack()"></ion-icon>
</ion-fab-button>
<ion-content padding>
  <ion-card *ngFor="let collection of collectionList['restaurants']">
    <ion-img (click)="getRestaurantDetails(collection)" *ngIf="collection.restaurant.thumb; else default" [src]="collection.restaurant.thumb"></ion-img>
    <ng-template #default>
      <ion-img (click)="getRestaurantDetails(collection)" [src]="'https://i.ytimg.com/vi/kor6mPFmGBU/maxresdefault.jpg'"></ion-img>
    </ng-template>
    <div class="myOverlay">
      <div class="card-title">{{collection.restaurant.user_rating.aggregate_rating}}</div>
    </div>
    <ion-item lines="none"><strong>{{collection.restaurant.name}}</strong></ion-item>
    <ion-item lines="none">{{collection.restaurant.location.locality | uppercase}}</ion-item>
    <ion-item lines="none">{{collection.restaurant.cuisines}}</ion-item>
    <!-- <div class="myOverlay" [style.background]="collection.restaurant.user_rating.rating_color"> -->
  </ion-card>
</ion-content>