<ion-header>
  <ion-toolbar>
    <ion-title>
      Zomato Prototype
    </ion-title>
  </ion-toolbar>
  <ion-segment>
    <ion-segment-button (ionSelect)="getCurrentSegment('collections')">
      <ion-label>Collections</ion-label>
    </ion-segment-button>
    <ion-segment-button checked (ionSelect)="getCurrentSegment('restaurants')">
      <ion-label>Restaurants</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content padding>
  <app-collection-list *ngIf="selectedTab == 'collections'"></app-collection-list>
  <app-restaurant-list *ngIf="selectedTab == 'restaurants'"></app-restaurant-list>
</ion-content>